<h1 class="text-4xl font-extrabold text-center text-gray-500">Charts</h1>

<%= tag.div id: 'container',
  style: 'height: 400px; min-width: 310px',
  data: { controller: 'company-prices-chart' } do %>
<% end %>
