<h1 class="mb-4 text-4xl font-extrabold text-center text-gray-900">Charts</h1>

<%= tag.div id: 'container',
  style: 'height: 400px; min-width: 310px',
  data: { controller: 'company-prices-chart' } do %>
<% end %>
