<div class="space-y-1">
  <% @companies.each do |company| %>
    <p><%= link_to company.name, company, class: 'font-medium bg-gradient-to-r from-cyan-200 to-cyan-200 bg-growing-underline' %></p>
  <% end %>
</div>
